<a href="https://colab.research.google.com/github/Muntasir90629/PANDAS-PYTHON/blob/master/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
import io

In [4]:
from google.colab import files
uploaded=files.upload()

Saving nyc_weather.csv to nyc_weather.csv

In [6]:
df=pd.read_csv(io.BytesIO(uploaded['nyc_weather.csv']))

In [7]:
df

          EST  Temperature  DewPoint  ...  CloudCover    Events  WindDirDegrees
0    1/1/2016           38        23  ...           5       NaN             281
1    1/2/2016           36        18  ...           3       NaN             275
2    1/3/2016           40        21  ...           1       NaN             277
3    1/4/2016           25         9  ...           3       NaN             345
4    1/5/2016           20        -3  ...           0       NaN             333
5    1/6/2016           33         4  ...           0       NaN             259
6    1/7/2016           39        11  ...           3       NaN             293
7    1/8/2016           39        29  ...           8       NaN              79
8    1/9/2016           44        38  ...           8      Rain              76
9   1/10/2016           50        46  ...           7      Rain             109
10  1/11/2016           33         8  ...           1       NaN             289
11  1/12/2016           35        15  ...           4       NaN             235
12  1/13/2016           26         4  ...           0       NaN             284
13  1/14/2016           30        12  ...           7       NaN             266
14  1/15/2016           43        31  ...           2       NaN             101
15  1/16/2016           47        37  ...           7      Rain             340
16  1/17/2016           36        23  ...           6  Fog-Snow             345
17  1/18/2016           25         6  ...           2      Snow             293
18  1/19/2016           22         3  ...           1       NaN             293
19  1/20/2016           32        15  ...           2       NaN             302
20  1/21/2016           31        11  ...           1       NaN             312
21  1/22/2016           26         6  ...           3      Snow              34
22  1/23/2016           26        21  ...           8  Fog-Snow              42
23  1/24/2016           28        11  ...           3      Snow             327
24  1/25/2016           34        18  ...           2       NaN             286
25  1/26/2016           43        29  ...           2       NaN             244
26  1/27/2016           41        22  ...           3      Rain             311
27  1/28/2016           37        20  ...           1       NaN             234
28  1/29/2016           36        21  ...           4       NaN             298
29  1/30/2016           34        16  ...           0       NaN             257
30  1/31/2016           46        28  ...           0       NaN             241

[31 rows x 11 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          28 non-null     float64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(2), int64(6), object(3)
memory usage: 2.8+ KB

In [11]:
df['Temperature'].max()

50

In [12]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [16]:

df.fillna(0,inplace=True) 
df['WindSpeedMPH'].mean()

6.225806451612903